include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/colors.kdl"
include "dms/cursor.kdl"
include "dms/layout.kdl"
include "dms/outputs.kdl"
include "dms/windowrules.kdl"
include "dms/wpblur.kdl"

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
}

input {
    mod-key "Super"

    keyboard {
        repeat-delay 200
        repeat-rate 40
    }

    touchpad {
        dwt
        natural-scroll
        tap
    }

    mouse {
        accel-profile "flat"
    }

    trackpoint {
    }

    warp-mouse-to-focus
}

cursor {
    hide-when-typing
}

output "eDP-1" {
    mode "1366x768@60.004"
    scale 1
    transform "normal"
    position x=0 y=0
}

output "HDMI-A-1" {
    mode "1680x1050@59.954"
    scale 1
    transform "normal"
    position x=1366 y=0
}

layout {
    gaps 10
    center-focused-column "never"
    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }

    default-column-width {
        proportion 0.5;
    }

    focus-ring {
        width 1.3
    }

    tab-indicator {
        width 1.3
    }
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/%Y-%m-%dT%H-%M-%S.png"

debug {
    honor-xdg-activation-with-invalid-serial
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

window-rule {
    match app-id="^$" title="^$"
    open-floating true
}

window-rule {
    match app-id="com.gabm.satty" title="satty"
    open-floating true
    open-focused true
}

window-rule {
    match app-id="foot" title="filepicker"
    open-floating true
    open-focused true
}

gestures {
    hot-corners {
        off
    }
}

binds {
    Mod+Shift+1 { show-hotkey-overlay; }

    Mod+T hotkey-overlay-title="Open Terminal" { spawn "foot"; }
    Mod+E hotkey-overlay-title="Launcher" { spawn-sh "dms ipc call spotlight toggle"; }
    Mod+P hotkey-overlay-title="Lock screen" { spawn-sh "dms ipc call lock lock"; }
    Mod+Shift+S repeat=false hotkey-overlay-title="Print" { spawn-sh r#"grim -g "$(slurp)" - | satty -f -"#; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+H { focus-column-or-monitor-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-or-monitor-right; }

    Mod+Ctrl+H { move-column-left-or-to-monitor-left; }
    Mod+Ctrl+J { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+L { move-column-right-or-to-monitor-right; }

    Mod+Shift+H { move-column-to-monitor-left; }
    Mod+Shift+J { move-column-to-monitor-down; }
    Mod+Shift+K { move-column-to-monitor-up; }
    Mod+Shift+L { move-column-to-monitor-right; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
}
